<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pretty Antony 8935790</title>
    <link rel="stylesheet" href="css/site.css" />
</head>

<header class='head'>
    <p class='head-intro'>Hi I'm, Pretty Antony </p>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center home-text">
                <h1 class="display-4">Welcome to my profile</h1>
                <h3><a href="/about">Know Who I am</a></h3>
            </div>
        </main>
    </div>

    <footer class="content-footer">
        <div class="container">
            &copy; 2023 - Pretty Antony 8935790 - Privacy
        </div>
    </footer>

</body>

</html>